<robot name="2link_robot">
	
	<material name="black">
		<color rgba="0 0 0 0.7"/>
	</material>
	<material name="white">
		<color rgba="1 1 1 0.7"/>
	</material>

	<link name="base"/>

	<link name="arm1">
		<visual>
			<geometry>
				<box size="0.25 .05 .05"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.125 0 0"/>
			<material name="black"/>
		</visual>
    <collision>
			<geometry>
				<box size="0.25 .05 .05"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.125 0 0"/>
			<material name="black"/>
		</collision>
	</link>

	<link name="arm2">
		<visual>
			<geometry>
				<box size="0.25 .05 .05"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.125 0 0"/>
			<material name="white"/>
		</visual>
    <collision>
			<geometry>
				<box size="0.25 .05 .05"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.125 0 0"/>
			<material name="white"/>
		</collision>
	</link>

	<joint name="interArm" type="revolute">
		<axis rpy="0 0 0" xyz="0 0 1"/>
		<parent link="arm1"/>
		<child link="arm2"/>
		<origin rpy="0 0 0" xyz="0.25 0 0"/>
	</joint>

</robot>